/* General */

@font-face {
  font-family: impact;
  src: url(../fonts/impact/impact.ttf);
}

@font-face {
  font-family: awesome;
  src: url(../fonts/fontawesome/fa-solid-900.ttf);
}

html {
  font-family: sans-serif;
  color: #989898;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.main-layout {
  background-color: #e5e5e5;
  padding: 1.8rem 1.25rem;
  height: 100%;
}

.main-content {
  flex-grow: 1;
}

/* Header */
.main-header {
  display: flex;
  background-color: #ffffff;
  height: 3.1875rem;
  padding: 0 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -2px #dbdbdb;
}

.logo {
  width: 10rem;
}
.main-header .main-nav {
  height: 100%;
}

.main-nav .mobile-nav-line {
  display: none;
}

.main-header .main-nav > *:not(:last-child) {
  margin-inline-end: 3.15rem;
}

.main-header .main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.15rem;
}

.main-header .main-nav a:hover {
  color: #727272;
}

/* Gallery */

.search-bar-container {
  padding-bottom: 1.8rem;
}

.search-bar {
  width: 35%;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 1.25rem;
  color: #989898;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 23px 23px;
}

.img-gallery .meme {
  cursor: pointer;
}

.img-gallery .meme img {
  border-radius: 10px;
}

/* Editor */
.main-editor-container {
  position: relative;
  display: flex;
  height: 100%;
}

.meme-canvas {
  border-radius: 10px;
  margin-top: 50px;
}

.canvas-center {
  flex-grow: 1.7;
}

.editor-container {
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.875rem 1.875rem 0 1.875rem;
}

.line-container {
  padding-bottom: 1.3rem;
}
.editor-container h2 {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 500;
  color: #727272;
}

.line-btns-container {
  flex-grow: 2;
  font-family: awesome;
  flex-wrap: wrap;
}

.text-btns-container {
  flex-grow: 1;
  font-family: awesome;
}

.btn-addLine::after {
  content: '\f0fe';
}

.btn-switchLine {
  font-size: 20px;
  font-weight: bolder;
}

.btn-lineUp::after {
  content: '\f062';
}

.btn-lineDown::after {
  content: '\f063';
}

.btn-removeLine::after {
  content: '\f2ed';
}

.line-btns-container > * {
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-btns-container > *:not(:last-child) {
  padding-right: 10px;
}

.texts-container {
  background-color: #ffffff;
  border-radius: 10px;
}

.texts-btns-container {
  border-bottom: 2px solid #dedede;
  font-family: awesome;
}

.texts-btns-container .selectFonts {
  color: #989898;
  border: 1px solid #ebebeb;
}

.texts-btns-container > * {
  cursor: pointer;
}

.btn-fontSizeUp::after {
  content: '\f031';
}

.btn-fontSizeDown::after {
  content: 'a';
}

.btn-alignTextRight::after {
  content: '\f038';
}

.btn-alignTextLeft::after {
  content: '\f036';
}

.btn-alignTextCenter::after {
  content: '\f037';
}

.meme-text-input {
  color: #989898;
  border: none;
  border-radius: 30px;
  padding: 1.25rem;
  outline: none;
}

.share-container {
  padding-bottom: 1.875rem;
  gap: 50px;
}

.share-container > button {
  background-color: #ff9826;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
  height: 3.1rem;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
}
/* Helpers */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
