/* General */

@font-face {
  font-family: awesome;
  src: url(../fonts/fontawesome/fa-solid-900.ttf);
}

html {
  font-family: sans-serif;
  color: #989898;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

img {
  width: 100%;
  transition: all 0.5s;
}

.img-gallery img:hover {
  box-shadow: #000000 5px 20px 30px -10px;
  transform: scale(1.125);
}

/* LAYOUTS */

.main-layout {
  background-color: #e5e5e5;
  padding: 1.8rem 1.25rem;
  height: 100%;
}

/* SCREENS */

.main-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;

  z-index: 999;
  opacity: 0;
  transition: opacity 0.6s;
}

.main-content {
  flex-grow: 1;
}

.modal {
  color: #111;
  display: none;
  background-color: #f58f1b;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  height: 200px;
  min-width: 250px;
}

/* Header */
.main-header {
  display: flex;
  background-color: #ffffff;
  height: 3.1875rem;
  padding: 0 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -2px #dbdbdb;
}

.logo {
  width: 10rem;
}
.main-header .main-nav {
  height: 100%;
}

.main-nav {
  display: none;
}
/* nav {
  display: none;
} */

.main-header .main-nav > *:not(:last-child) {
  margin-inline-end: 3.15rem;
}

.main-header .main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.15rem;
}

.main-header .main-nav a:hover {
  color: #727272;
}

.btn-menu {
  display: none;
}

.btn-close-menu {
  cursor: pointer;
  display: none;
}
/* Gallery */

.search-bar-container {
  padding-bottom: 1.8rem;
}

.search-bar {
  width: 35%;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 1.25rem;
  color: #989898;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  gap: 23px 23px;
}

.img-gallery .meme {
  cursor: pointer;
}

.img-gallery .meme img {
  border-radius: 10px;
}

/* Editor */
.main-editor-container {
  position: relative;
  display: flex;
  height: 100%;
}

.meme-canvas {
  border-radius: 10px;
  margin-top: 50px;
}

.canvas-center {
  flex-grow: 1.7;
}

.editor-container {
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.875rem 1.875rem 0 1.875rem;
}

.line-container {
  padding-bottom: 1.3rem;
}
.editor-container h2 {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 500;
  color: #727272;
}

.line-btns-container > li:hover {
  color: #414141;
}

.line-btns-container {
  flex-grow: 2;
  font-family: awesome;
  flex-wrap: wrap;
}

.text-btns-container {
  flex-grow: 1;
  font-family: awesome;
}

.btn-addLine::after {
  content: '\f0fe';
}

.btn-switchLine {
  font-size: 20px;
  font-weight: bolder;
}

.btn-lineUp::after {
  content: '\f062';
}

.btn-lineDown::after {
  content: '\f063';
}

.btn-removeLine::after {
  content: '\f2ed';
}

.line-btns-container > * {
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-btns-container > *:not(:last-child) {
  padding-right: 10px;
}

.texts-container {
  background-color: #ffffff;
  border-radius: 10px;
}

.texts-btns-container {
  border-bottom: 2px solid #dedede;
  font-family: awesome;
}

.texts-btns-container .selectFonts {
  color: #989898;
  border: 1px solid #ebebeb;
}

.texts-btns-container > * {
  cursor: pointer;
}

/* .text-btns-container > *:hover {
  color: #da0707;
} */

.btn-fontSizeUp::after {
  content: '\f031';
}

.btn-fontSizeDown::after {
  content: 'a';
}

.btn-alignTextRight::after {
  content: '\f038';
}

.btn-alignTextLeft::after {
  content: '\f036';
}

.btn-alignTextCenter::after {
  content: '\f037';
}

.meme-text-input {
  color: #989898;
  border: none;
  border-radius: 30px;
  padding: 1.25rem;
  outline: none;
}

.share-container {
  padding-bottom: 1.875rem;
  gap: 50px;
}

.share-container > button {
  background-color: #ff9826;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
  height: 3.1rem;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
}
/* Helpers */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 570px) {
  .main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    color: white;
    padding: 8.125rem;
    font-size: 1.5rem;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  .btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
  }

  .btn-close-menu {
    display: block;
    font-size: 1.4rem;
    background-color: #f85555;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    visibility: visible;
    flex-direction: column;
    position: fixed;
    background-color: #3a3a3a;
    right: 0;
  }
  body.menu-open .main-screen {
    display: block;
    opacity: 1;
  }

  .main-header .main-nav > *:not(:last-child) {
    margin-inline-end: 0;
  }

  .canvas-container canvas {
    height: 300px;
    border-radius: 10px;
  }

  .gallery-container {
    padding: 0 0.625rem;
  }

  .gallery-container .search-bar-container {
    padding: 1.5rem 0;
  }

  .img-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.625rem 0.94rem;
    align-items: center;
  }

  .main-editor-container {
    flex-direction: column;
  }
}

@media (min-width: 570px) {
  .main-editor-container {
    flex-direction: column;
  }

  .share-btns-cont .share-btn {
    width: 100%;
  }

  .canvas-container canvas {
    height: 400px;
    border-radius: 10px;
  }

  body.modal-open .modal {
    display: flex;
    flex-direction: column;
  }

  body.modal-open .main-screen {
    opacity: 1;
    display: block;
  }

  .editor-container {
    padding: 0.875rem 0.875rem 0 0.875rem;
  }
}

@media (min-width: 900px) {
  .main-editor-container {
    flex-direction: row;
  }
  .canvas-container canvas {
    height: 450px;
    border-radius: 10px;
  }
}
